.d-flex.new-interview-container.justify-content-center
    .d-flex.flex-column
        .d-flex
            %H1 Edit Interview
        = form_for @interview, url: application_interview_update_path(id: @application_id, interviewer_id: @interview_id), local: true do |f| 
            = render 'shared/error_messages', object: @interview
            .my-3
                = f.label :round_name
                = f.select :round_name, options_for_select(@round_names, selected: @interview.round_name), include_blank: 'Select Round', class: 'select-role'

            .my-3
                = f.label :interviewer
                = f.select :interviewer_id, options_for_select(@interviewers, selected: @interview.interviewer_id), include_blank: 'Select Interviewer', class: 'select-role'

            .d-flex.justify-content-between
                -# - provide(:obj, "interview")
                .my-3.mr-2.w-40 
                    = f.label :date
                    -# - provide(:scheduled_on, "scheduled_on")
                    = render 'date'

                .my-3.mx-2.w-30
                    = f.label :start_time
                    -# - provide(:start_time, "start_time")                
                    = render 'start_time'

                .my-3.ml-2.w-30
                    = f.label :end_time
                    -# - provide(:end_time, "end_time")
                    = render 'end_time'

                = hidden_field_tag :application_id, @application_id

            .d-flex.justify-content-center
                = f.submit "Update Interview", class: "btn btn-primary"

:javascript
    $(function () {
         init();

         function init() {
             var interviewStartTime = "#{@interview.start_time}";
             var interviewEndTime = "#{@interview.end_time}";
             var interviewDate = "#{@interview.scheduled_on}";

            $('#date_picker').datetimepicker({
                format: 'DD-MM-YYYY',
                date: moment(interviewDate)
            });

            $('#start_time_picker').datetimepicker({
                format: 'LT',
                timeZone: 'Asia/Kolkata',
                date: moment(interviewStartTime)
            });

            $('#end_time_picker').datetimepicker({
                format: 'LT',
                timeZone: 'Asia/Kolkata',
                date: moment(interviewEndTime)
            });
         }

        $(".edit_interview").submit(function(e) {
            var interviewDate = $('#date_picker').datetimepicker('date').format('DD-MM-YYYY');

            prefixInterviewDateToTime($('#start_time_picker'), interviewDate);
            prefixInterviewDateToTime($('#end_time_picker'), interviewDate);

            return true;
        });

        function prefixInterviewDateToTime(ele, interviewDate) {
            var time = ele.datetimepicker('date').format('LT');
            var dateTime = moment(interviewDate + ' ' + time,  'DD-MM-YYYY LT');
            ele.datetimepicker('date', dateTime);
            ele.datetimepicker('format', 'DD-MM-YYYY LT');
        }
    });