- round_wise_interviewers_json = raw(@round_wise_interviewers.to_json)

.d-flex.new-interview-container.justify-content-center
    .d-flex.flex-column
        .d-flex
            %H1 Edit Interview
        = form_for @interview, url: application_interview_update_path(id: @application_id, interviewer_id: @interview_id), local: true do |f| 
            = render 'shared/error_messages', object: @interview
            .my-3
                = f.label :round_name
                = f.select :round_name, options_for_select(@round_names, selected: @interview.round_name), include_blank: 'Select Round', class: 'select-role'

            .my-3
                = f.label :interviewer
                = f.select :interviewer_id, options_for_select(@round_wise_interviewers[@interview.round_name.to_sym], selected: @interview.interviewer_id), include_blank: 'Select Interviewer', class: 'select-role'

            .d-flex.justify-content-between
                -# - provide(:obj, "interview")
                .my-3.mr-2.w-40 
                    = f.label :date
                    -# - provide(:scheduled_on, "scheduled_on")
                    = render 'date'

                .my-3.mx-2.w-30
                    = f.label :start_time
                    -# - provide(:start_time, "start_time")                
                    = render 'start_time'

                .my-3.ml-2.w-30
                    = f.label :end_time
                    -# - provide(:end_time, "end_time")
                    = render 'end_time'

                = hidden_field_tag :application_id, @application_id

            .d-flex.justify-content-center
                = f.submit "Update Interview", class: "btn btn-primary"

:javascript
    $(function () {
        var $dateEle, $startTimeEle, $endTimeEle;

        init();

        function init() {
            //Form Elements
            $dateEle = $('#date_picker');
            $startTimeEle = $('#start_time_picker');
            $endTimeEle = $('#end_time_picker');

            intializeInterviewScheduleElements();
            setupInterviewersDropDown();
            setupFormSubmit();
        }

        function intializeInterviewScheduleElements() {
            var interviewStartTime = "#{@interview.start_time}";
            var interviewEndTime = "#{@interview.end_time}";
            var interviewDate = "#{@interview.scheduled_on}";

            $dateEle.datetimepicker({
                format: DATE_FORMAT,
                date: getFormattedDate(interviewDate)
            });

            $startTimeEle.datetimepicker({
                format: TIME_FORMAT,
                timeZone: 'Asia/Kolkata',
                date: getFormattedDate(interviewStartTime)
            });

            $endTimeEle.datetimepicker({
                format: TIME_FORMAT,
                timeZone: 'Asia/Kolkata',
                date: getFormattedDate(interviewEndTime)
            });
        }

        function setupInterviewersDropDown() {
            var roundWiseInterviewers = #{round_wise_interviewers_json};
            setupDynamicInterviewersDropDown($('select#interview_round_name'), 
                                             $("select#interview_interviewer_id"), 
                                             roundWiseInterviewers);
        }

        function setupFormSubmit() {
            var interviewScheduleElements = {
                date: $dateEle,
                startTime: $startTimeEle,
                endTime: $endTimeEle 
            }

            handleInterviewFormSubmit($(".edit_interview"), interviewScheduleElements);
        }
    });