- round_wise_interviewers_json = raw(@round_wise_interviewers.to_json)

.d-flex.new-interview-container.justify-content-center
    .d-flex.flex-column
        .d-flex
            %H1 Create Interview
        = form_for @interview, url: application_interview_create_path(application_id: @application_id), local: true do |f| 
            = render 'shared/error_messages', object: @interview
            .my-3
                = f.label :round_name
                = f.select :round_name, options_for_select(@round_names), include_blank: 'Select Round', class: 'select-role'

            .my-3
                = f.label :interviewer
                = f.select :interviewer_id, {}, include_blank: 'Select Interviewer', class: 'select-role'

            .d-flex.justify-content-between
                -# - provide(:obj, "interview")
                .my-3.mr-2.w-40 
                    = f.label :date
                    -# - provide(:scheduled_on, "scheduled_on")
                    = render 'date'

                .my-3.mx-2.w-30
                    = f.label :start_time
                    -# - provide(:start_time, "start_time")                
                    = render 'start_time'

                .my-3.ml-2.w-30
                    = f.label :end_time
                    -# - provide(:end_time, "end_time")
                    = render 'end_time'

                = hidden_field_tag :application_id, @application_id

            .d-flex.justify-content-center
                = f.submit "Schedule", class: "btn btn-primary"

:javascript
    $(function () {
        var $dateEle, $startTimeEle, $endTimeEle;

        init();

        function init() {
            $dateEle = $('#date_picker');
            $startTimeEle = $('#start_time_picker');
            $endTimeEle = $('#end_time_picker');

            intializeInterviewScheduleElements();
            setupInterviewersDropDown();
            setupFormSubmit();
        }

        function intializeInterviewScheduleElements() {
            $('#date_picker').datetimepicker({
                format: DATE_FORMAT
            });

            $('#start_time_picker').datetimepicker({
                format: TIME_FORMAT,
                timeZone: 'Asia/Kolkata'
            });

            $('#end_time_picker').datetimepicker({
                format: TIME_FORMAT,
                timeZone: 'Asia/Kolkata'
            });
        }

        function setupInterviewersDropDown() {
            var roundWiseInterviewers = #{round_wise_interviewers_json};
            setupDynamicInterviewersDropDown($('select#interview_round_name'), 
                                             $("select#interview_interviewer_id"), 
                                             roundWiseInterviewers);
        }

        function setupFormSubmit() {
            var interviewScheduleElements = {
                date: $dateEle,
                startTime: $startTimeEle,
                endTime: $endTimeEle 
            }

            handleInterviewFormSubmit($(".new_interview"), interviewScheduleElements);
        }
    });