.d-flex.flex-column
    -if is_manager?(current_user)
        .d-flex.justify-content-end.mb-2
            Update Application Status:
            .d-flex
                = render 'edit_application_status', application: application, button_value: "Accept"
                = render 'edit_application_status', application: application, button_value: "On Hold"
                = render 'edit_application_status', application: application, button_value: "Reject"

    .card
        .card-header
            .d-flex.justify-content-between
                %div.align-self-center Application Details
                %d-flex.flex-column
                    %div Current Status
                    .d-flex.justify-content-center
                        %span.badge.badge-pill.badge-secondary.status-pill= application.status.capitalize
        .card-body
            %h6.card-title= "Candidate Name: #{application.candidate.name}"
            %p.pt-2= "Candidate E-mail:  #{application.candidate.email}"
            %p= "Applying For:  #{application.role}"
            %p= "Experience: #{pluralize(application.experience, "year")}"
            -if application.resume?
                = link_to "Resume", application.resume.url, target: "_blank"
            -else
                %p.text-danger= "No resume file attached"
            -# TODO:// Check another way to do this
            .d-flex.flex-row-reverse
                = link_to '<button class="btn btn-primary">Schedule Interview</button>'.html_safe, application_new_interview_path(application)