- interview_topic_feedbacks = get_interview_topic_feedbacks(interview.id)

%d-flex.interview-card
    .card
        .card-header
            .d-flex.justify-content-between
                %div.align-self-center
                    Interview Details
                    -if defined? interview_index
                        %span.badge.badge-info.interview-detail-badge= interview_index
                -if user_associated_with_applicaiton?(current_user, application)
                    =link_to "Edit", application_edit_interview_path(id: application.id, interview_id: interview.id)
        .card-body
            %p.card-title
                = "Round Name: #{interview.round_name.titleize}"
            %p
                = "Interview Date:  #{interview.scheduled_on}"
            .d-flex
                %p="Interview Time Slot: #{formatted_time(interview.start_time)} - #{formatted_time(interview.end_time)}"
            %p= "Interviewer: #{get_name(interview.interviewer)}"

            - if interview_topic_feedbacks.any?
                =render 'topic_feedbacks/show', interview_topic_feedbacks: interview_topic_feedbacks, interview_id: interview.id
            - else
                =render 'topic_feedbacks/new', interview_id: interview.id, round_topics: round_topics[interview.round_name.to_sym]
                
        .card-footer
            %p
                Comments
            -if user_associated_with_applicaiton?(current_user, application)
                = render 'feedbacks/interview_comment_form', interview: interview, application: application
                %hr
            = render 'feedbacks/comment', comments: comments