.d-flex.flex-column.applications-index-container.m-5
    .d-flex
        %H1 Applications
    .d-flex.flex-row-reverse
        -if is_manager?(current_user)
            %div
                = link_to "Create Application", new_candidate_application_path, class: "btn btn-primary"
        .mr-2
            = form_tag(applications_path, method: :get) do
                .d-flex
                    = text_field_tag :search, params[:search], class: 'form-control rounded-0', placeholder: "Search"
                    = button_tag type: 'submit', 'aria-label': "search", class: "btn btn-primary rounded-0", :name => nil do
                        <i class="fa fa-search" aria-hidden="true"></i>
    -if @applications.empty?
        .applications-index-message
            No Applications Found
    -else
        %d-flex.mt-4
            %table.table.table-hover.border
                %thead
                    %tr
                        %th Application_Id
                        %th Candidate Name
                        %th Candidate Email
                        %th Experience
                        %th Applying For
                        %th Status
                        %th Created At
                        %th Actions
                %tbody
                    - @applications.each do |application|
                        %tr
                            %td= application.id
                            %td= application.candidate.name
                            %td= application.candidate.email
                            %td= application.experience
                            %td= application.role
                            %td= application.status
                            %td= render 'shared/created_at_table_data', object: application
                            %td
                                .d-flex.justify-content-around
                                    = link_to application_path(application) do
                                        = icon('far', "eye", title: "View", class: "fa-lg")
                                    -if is_manager?(current_user)
                                        = link_to edit_candidate_application_path(id: application.id, candidate_id: application.candidate_id) do
                                            = icon('fas', "pen", title: "Edit", class: "fa-lg")
            .mt-2= will_paginate @applications,  list_classes: %w(pagination justify-content-center)   