= render "application_header"

.d-flex.flex-column
    %table.table.table-hover.mt-4
        %thead
            %tr
                %th Application_Id
                %th Candidate Name
                %th Candidate Email
                %th Experience
                %th Applying For
                %th Actions
        %tbody
            - @applications.each do |application|
                %tr
                    %td= application.id
                    %td= application.candidate.name
                    %td= application.candidate.email
                    %td= application.experience
                    %td= application.role
                    %td= link_to "View", application_path(application)
    .mt-2= will_paginate @applications,  list_classes: %w(pagination justify-content-center)   