.d-flex.flex-row-reverse.m-2
    .mr-2
        = link_to "Create Application", new_candidate_application_path, class: "btn btn-primary"
    .mr-2
        = form_tag(applications_search_path, method: :get) do
            .d-flex
                = text_field_tag :search, params[:search], class: 'form-control rounded-0', placeholder: "Search"
                = button_tag type: 'submit', 'aria-label': "search", class: "btn btn-primary rounded-0" do
                    <i class="fa fa-search" aria-hidden="true"></i>
.d-flex.flex-column
    %table.table.table-hover.mt-1
        %thead
            %tr
                %th Application_Id
                %th Candidate Name
                %th Candidate Email
                %th Experience
                %th Applying For
                %th Actions
        %tbody
            - @applications.each do |application|
                %tr
                    %td= application.id
                    %td= application.candidate.name
                    %td= application.candidate.email
                    %td= application.experience
                    %td= application.role
                    %td= link_to "View", application_path(application)
    .mt-2= will_paginate @applications,  list_classes: %w(pagination justify-content-center)   