= render "application_header"

.d-flex.justify-content-center.new-application-container
    .d-flex.flex-column.h-100.w-50
        = form_for(:candidate_application, url: yield(:url_path)) do |f| 
            .m-3
                = f.label :name
                = f.text_field :name, class: 'form-control'

            .m-3            
                = f.label :email 
                = f.email_field :email, class: 'form-control'
            .m-3
                = f.label :experience 
                = f.number_field :experience, class: 'form-control'
            .m-3
                = f.label :role
                = f.select :role, options_for_select(roles), prompt: 'Select Role', class: 'select-role'

            .d-flex.justify-content-center
                = f.submit "Submit", class: "btn btn-primary"
