.d-flex.flex-column.application-view-main-container.mx-4.my-4
    %div
        = render "application_card", application: @application
    %div.my-5
        = render "interviews_bar", application: @application, interviews: @interviews
    %div.my-1
        %div{id: "interview-details-parent"}
            - @interviews.each_with_index do |interview, index|
                - interview_count = index + 1
                .collapse{id: "interview-#{interview.id}-details", 'data-parent': "#interview-details-parent", class: "interview-details-collapsing"}
                    = render "interview_card", application: @application, interview: interview, comments: interview.feedback, interview_index: interview_count, round_topics: @round_topics

:javascript
    $(function () {
        var interview_id = "#{@interview_id}"
        if(interview_id) {
            $("#interview-details-parent #interview-" + interview_id + "-details").addClass("show");
        } else {
            $("#interview-details-parent .interview-details-collapsing:last-child").addClass("show");
        }
    });