= form_for(@candidate, url: yield(:url_path)) do |f| 
    = f.label :name
    = f.text_field :name, class: 'form-control'

    = f.label :email 
    = f.email_field :email, class: 'form-control'

    = f.label :experience 
    = f.number_field :experience, class: 'form-control'

    = f.submit yield(:button_text), class: "btn btn-primary"
