= form_for(@candidate, url: yield(:url_path)) do |f| 
    = render 'shared/error_messages', object: @candidate
    .my-3
        = f.label :name
        = f.text_field :name, class: 'form-control'

    .my-3
        = f.label :email 
        = f.email_field :email, class: 'form-control'

    .d-flex.justify-content-center.my-3
        = f.submit yield(:button_text), class: "btn btn-primary"
