.container
    .row
        %button.btn.btn-outline-primary.btn-sm= link_to "Add Candidate", new_candidate_path
        = will_paginate @candidates, list_classes: %w(pagination justify-content-end)
    %table.table.table-hover
        %thead
            %tr
                %th Name
                %th Email
                %th Action
        %tbody
            - @candidates.each do |candidate|
                %tr
                    %td= candidate.name
                    %td= candidate.email
                    %td= link_to "Edit", edit_candidate_path(candidate)
    = will_paginate @candidates,  list_classes: %w(pagination justify-content-end)   