.d-flex.flex-column
    .d-flex.mt-2.justify-content-end
        = will_paginate @candidates
        .p-2
            %button.btn.btn-outline-primary.btn-sm= link_to "Add Candidate", new_candidate_path
    %table.table.table-hover.mt-4
        %thead
            %tr
                %th Name
                %th Email
                %th Action
        %tbody
            - @candidates.each do |candidate|
                %tr
                    %td= candidate.name
                    %td= candidate.email
                    %td= link_to "Edit", edit_candidate_path(candidate)
    .mt-2= will_paginate @candidates,  list_classes: %w(pagination justify-content-center)