.d-flex.flex-column.applications-index-container.m-5
    .d-flex
        %H1 Candidates
    .d-flex.flex-row-reverse
        -if current_user_manager?
            %div
                = link_to "Add Candidate", new_candidate_path, class: "btn btn-primary"
    %d-flex.mt-4
        %table.table.table-hover.border
            %thead
                %tr
                    %th Name
                    %th Email
                    %th Action
            %tbody
                - @candidates.each do |candidate|
                    %tr
                        %td= candidate.name
                        %td= candidate.email
                        %td= link_to "Edit", edit_candidate_path(candidate)
        .mt-2= will_paginate @candidates,  list_classes: %w(pagination justify-content-center)