.d-flex.flex-column.applications-index-container.m-5
    .d-flex
        %H1 Candidates
    .d-flex.flex-row-reverse
        -if is_manager?(current_user)
            %div
                = link_to "Add Candidate", new_candidate_path, class: "btn btn-primary"
    %d-flex.mt-4
        %table.table.table-hover.border
            %thead
                %tr
                    %th Name
                    %th Email
                    %th Created At
                    -if is_manager?(current_user)
                        %th Action
            %tbody
                - @candidates.each do |candidate|
                    %tr
                        %td= candidate.name
                        %td= candidate.email
                        %td= render 'shared/created_at_table_data', object: candidate
                        -if is_manager?(current_user)
                            %td
                                = link_to edit_candidate_path(candidate) do
                                    = icon('fas', "pen", title: "Edit", class: "fa-lg")
        .mt-2= will_paginate @candidates,  list_classes: %w(pagination justify-content-center)