= render "applications/application_header"

.d-flex.justify-content-center.new-application-container
    .d-flex.flex-column.h-100.w-50
        = form_for @candidate, url: candidate_application_path, local: true do |candidate_form| 
            = render 'shared/error_messages', object: @candidate
            .m-3
                = candidate_form.label :name
                = candidate_form.text_field :name, class: 'form-control'

            .m-3            
                = candidate_form.label :email 
                = candidate_form.email_field :email, class: 'form-control'

            .m-3
                = candidate_form.fields_for :applications, @candidate.applications do |application_form|
                    .mt-3
                        = application_form.label :experience
                        = application_form.number_field :experience, class: 'form-control'

                    .mt-3
                        = application_form.label :role
                        = application_form.select :role, options_for_select(roles), prompt: 'Select Role', class: 'select-role'

            .d-flex.justify-content-center
                = candidate_form.submit "Submit", class: "btn btn-primary"