%div.comments
    -if comments.empty?
        .d-flex.justify-content-center
            .p-2.m-2.text-muted
                No comments posted
    - comments.each do |comment|
        .d-flex.p-1
            %div.profile-pic.mr-2
                = image_tag comment.interviewer.picture, alt: comment.interviewer.name, class: "profile-pic"
            .d-flex-column{:id => "comment-#{comment.id}"}
                .font-weight-bold
                    = comment.interviewer.name
                .font-weight-normal
                    = comment.content
                .text-muted.comment-timestamp
                    #{time_ago_in_words(comment.created_at)} ago.
        %hr
