
- url= interview_topic_feedbacks_url(interview_id: interview_id)
- feedback_container_id= "topic-feedback-container-#{interview_id}"
- submit_button_id = "topic-feedback-update-#{interview_id}"

%div{id: feedback_container_id}
    .d-flex.justify-content-between.mb-4
        %H4= "Edit Feedbacks"
            
    = render 'topic_feedbacks/topic_feedback_header'

    = form_with id: "form_#{interview_id}" do
        - interview_topic_feedbacks.each do |topic_feedback|
            .d-flex.justify-content-between.mb-4
                = label_tag get_topic_feedback_name(topic_feedback.name), nil, class: "topic_feedback"
                = text_area_tag "round[#{topic_feedback.name}]positives", topic_feedback.positives, class: "topic_feedback_input mr-4 form-control", rows: 4
                = text_area_tag "round[#{topic_feedback.name}][negatives]", topic_feedback.negatives, class: "topic_feedback_input mr-4 form-control", rows: 4
                = text_area_tag "round[#{topic_feedback.name}][candidate_level]", topic_feedback.candidate_level, class: "topic_feedback_input form-control", rows: 4

        .d-flex.justify-content-center
            = submit_tag 'Update Feedback', { id: submit_button_id, class: "btn btn-primary" }

:javascript
    $(document).ready(function(){
        var sumbit_button_id = "#" + "#{submit_button_id}";
        var feedback_container_id = "#" + "#{feedback_container_id}";

        $(sumbit_button_id).click(function(e) {
            $.ajax({
                url: "#{url}",
                type: "PATCH",
                data: $("#form_#{interview_id}").serialize(),
                success: function(data) {
                    $(feedback_container_id).html(data.html);
                }
            });

            e.preventDefault();
        });
    });