- edit_feedback_button = "edit-feedback-#{interview_id}"
- edit_feedback_button = "edit-feedback-#{interview_id}"
- feedback_container_id= "topic-feedback-container-#{interview_id}"
- edit_feedback_url = edit_interview_topic_feedbacks_url(interview_id: interview_id)

%div{id: feedback_container_id}
    .d-flex.justify-content-between.mb-4
        .d-flex.justify-content-center
            %H4= "Topic Feedbacks"
        =link_to "Edit Feedback", "#", id: edit_feedback_button

    = render 'topic_feedbacks/topic_feedback_header'

    - interview_topic_feedbacks.each do |topic_feedback|
        .d-flex.justify-content-between.mb-4
            = label_tag get_topic_feedback_name(topic_feedback.name), nil, class: "topic_feedback"
            = text_area_tag "positives", topic_feedback.positives, disabled: true, class: "topic_feedback_input mr-4 form-control", rows: 4
            = text_area_tag "negatives", topic_feedback.negatives, disabled: true, class: "topic_feedback_input mr-4 form-control", rows: 4
            = text_area_tag "candidate_level", topic_feedback.candidate_level, disabled: true, class: "topic_feedback_input form-control", rows: 4

:javascript
    var edit_feedback_button_id = "#" + "#{edit_feedback_button}";
    var feedback_container_id = "#" + "#{feedback_container_id}";
    
    $(edit_feedback_button_id).click(function(e) {
        $.get({
            url: "#{edit_feedback_url}",
            success: function(data) {
                $(feedback_container_id).html(data.html);
            }
        });
        e.preventDefault();
    });