- edit_feedback_button = "edit-feedback-#{interview_id}"
- edit_feedback_button = "edit-feedback-#{interview_id}"
- feedback_container_id= "topic-feedback-container-#{interview_id}"
- edit_feedback_url = bulk_edit_interview_topic_feedbacks_url(interview_id: interview_id)

%div{id: feedback_container_id}
    .border.rounded.p-4
        .d-flex.justify-content-between.mb-4
            .d-flex.justify-content-center.flex-1
                %H4= "Topic Feedback"
            =link_to "Edit Feedback", "#", id: edit_feedback_button

        - interview_topic_feedbacks.each do |topic_feedback|  
            %h4
                %i.fa.fa-angle-right
                %span.text-primary= get_topic_feedback_name(topic_feedback.name).titleize
            %table.table.table-bordered
                %tbody
                    %tr
                        %th.w-25 Positives
                        - if topic_feedback.positives.blank?
                            %td No Feedback
                        - else
                            %td= topic_feedback.positives
                    %tr
                        %th.w-25 Negatives
                        - if topic_feedback.negatives.blank?
                            %td No Feedback
                        - else
                            %td= topic_feedback.negatives
                    %tr
                        %th.w-25 Candidates Level
                        - if topic_feedback.candidate_level.blank?
                            %td No Feedback
                        - else
                            %td= topic_feedback.candidate_level
            %hr

:javascript
    var edit_feedback_button_id = "#" + "#{edit_feedback_button}";
    var feedback_container_id = "#" + "#{feedback_container_id}";
    
    $(edit_feedback_button_id).click(function(e) {
        $.get({
            url: "#{edit_feedback_url}",
            success: function(data) {
                $(feedback_container_id).html(data.html);
            }
        });
        e.preventDefault();
    });