- edit_feedback_button = "edit-feedback-#{interview_id}"
- edit_feedback_button = "edit-feedback-#{interview_id}"
- feedback_container_id= "topic-feedback-container-#{interview_id}"
- edit_feedback_url = edit_interview_topic_feedbacks_url(interview_id: interview_id)

%div{id: feedback_container_id}
    .d-flex.justify-content-between.mb-4
        .d-flex.justify-content-center
            %H4= "Topic Feedbacks"
        =link_to "Edit Feedback", "#", id: edit_feedback_button

    - interview_topic_feedbacks.each do |topic_feedback|    
        .d-flex.flex-column
            %ul
                .font-weight-bold= get_topic_feedback_name(topic_feedback.name)
                %li= "Positives-#{topic_feedback.positives}"
                %li= "Negatives-#{topic_feedback.negatives}"
                %li= "Candidate Level-#{topic_feedback.candidate_level}"


:javascript
    var edit_feedback_button_id = "#" + "#{edit_feedback_button}";
    var feedback_container_id = "#" + "#{feedback_container_id}";
    
    $(edit_feedback_button_id).click(function(e) {
        $.get({
            url: "#{edit_feedback_url}",
            success: function(data) {
                $(feedback_container_id).html(data.html);
            }
        });
        e.preventDefault();
    });