%h2 Interview Schedule

%p
  A interview has been scheduled.
  %h3
    Interview details:
    %h4
      ="Interview Date: #{@interview.scheduled_on}"
    %h4
      ="Interview Time: #{formatted_time(@interview.start_time)} - #{formatted_time(@interview.end_time)}"
    
  = "Please click "
  %span= link_to "here", application_interview_url(id: @interview.application_id, interview_id: @interview.id)
  = "for more details about application." 