!!! 5
%html
  %head
    %title BC-Hire
    = render 'layouts/rails_default' 
    = render 'layouts/shim'

  %body
    %div.d-flex.flex-column.main-layout
      %header
        Header
      %div.main-content.d-flex
        %div.item-1
          = render 'layouts/header'
        %div.item-2.d-flex
          - flash.each do |message_type, message|
            = content_tag(:div, message, class: "alert alert-#{message_type}")
          = yield
      %footer
        Footer
